doctype html
html
  head
    title= title
  body
    div
      if userFullName
        h3 Welcome + ', ' + userFullName
        a(href='/signout')
      else
        h3 Welcome!
        a(href='/signup')
        a(href='/signin')
    
    img(src="img/nodejs.png")
