doctype html
html(lang=en, xmlns:ng='http://angularjs.org')
  head
    title= title
  body
    div
      if userFullName
        h3
          | Welcome,
          = ' ' + userFullName
        br
        a(href='/signout')
      else
        h3 Welcome!
        br
        a(href='/signup') Sign Up
        br
        a(href='/signin') Sign In
    
    img(src="img/nodejs.png")

    script(type='text/javascript', src='/lib/angular/angular.min.js')
