doctype html
html(lang=en)
  head
    block vars
    title
      |iChat | 
      block title
    link(type='text/css', rel='stylesheet', href='/lib/Materialize/dist/css/materialize.min.css', media='screen, projection')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block css
  body
    ul#nav-mobile.side-nav
      - if (!session_user)
        li
          a(href='/signup') Sign Up
        li
          a(href='/signin') Sign In
      - else
        li
          a(href='/signout') Sign Out
      li
        a(href='/about') About


    div.navbar-fixed
      nav.light-blue.lighten-1(role='navigation', style='z-index: 997;')
        div.nav-wrapper.container
          a#logo-container.brand-logo(href='/') iChat
          ul.right.hide-on-med-and-down
            - if (session_user)
              li
                a(href='/signout') Logout
            - else
              li
                a(href='/signup') Register
              li
                a(href='/signin') Login
          a.button-collapse(data-activates='nav-mobile', href='#')
            i.material-icons menu
      
    block body
      
    footer.page-footer.orange
      div.container
        div.row
          div.col.l6.s12
            h5.white-text iChat = Simplicity + Elegance
            p.grey-text.text-lighten-4.
              iChat is a simple online chat webapp, created using MEAN stack, which is a combination of MongoDB, Express,
               AngularJS and NodeJS technologies, plus the beloved Socket.io. It uses Materialize for it's UI components.
          div.col.l3.s12
            h5.white-text Settings
            ul
              li
                a.white-text(href='#') None defined yet!
          div.col.l3.s12
            h5.white-text Useful Links
            ul
              li
                a.white-text(href='/signup') Registration Form
              li
                a.white-text(href='/signin') Login
              li
                a.white-text(href='/about') About iChat
                  
      div.footer-copyright
        div.container
          span Made by: 
          a.grey-text.text-lighten-4(href='mailto:psyringe@protonmail.com')
            b Psyringe
                
    script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/lib/Materialize/dist/js/materialize.min.js')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', async)
    block scripts    
